@CHARSET "ISO-8859-1";

body {
	background-color: white;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #467600;
}

#divHeader {
	background-color: white;
	height: 57px;
	position: relative;
/* 	border: 1px solid red; */
}

#divMenu {
	background-color: #e9e9e9;
	width: 100%;
	height: 24px;
	float: none;
	clear: both;
/* 	border: 1px solid red; */
}

#menuShadow {
	position: absolute;
	top: 24px;
	left: 0px;
	background-color: #e9e9e9;
	width: 100%;
	height: 24px;
	box-shadow: 0 0 7px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,0.3);
/* 	border: 1px solid red; */
}

#menuShadowCover {
	position: absolute;
	top: 24px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	height: 34px;
/* 	border: 1px solid red; */
}

#divLogoArea {
	background-color: #e9e9e9;
	border-radius: 6px;
	-o-border-radius: 6px;
	-icab-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: absolute;
	top: 2px;
	left: 10px;
	float: left;
	cursor: pointer;
	box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
/* 	border: 1px solid red; */
}

#divLogo {
	margin-top: 2px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
/* 	border: 1px solid red; */
}

#divLogoText {
	margin: 8px 18px 0px -3px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 13px;
	color: #333;
	text-shadow: #fff 0px 0px 3px;
	cursor: pointer;
/* 	border: 1px solid red; */
}

.menuTitle {
	height: 22px;
	padding: 0px 15px;
	position: relative;
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-shadow: #fff 0px 0px 5px;
	letter-spacing: 1px;
	margin-top: 2px;
	color: #666;
	/*rounded corners*/
	border-top-left-radius: 4px;
	-o-border-radius-topleft: 4px;
	-icab-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-o-border-radius-topright: 4px;
	-icab-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}

.menuTitleSelectable {
	cursor: pointer;
}

.menuTitleSelectable:hover {
	color: #fff;
	text-shadow: #999 0px 0px 5px;
	background-color: #ccc;
}

.menuTitleActive {
	color: #666;
/* 	text-shadow: #eee 0px 0px 2px; */
	background-color: white;
}

#divMenuFilter {
	padding: 4px 10px 0px;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.8);
	color: #666;
	position: relative;
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

#divCalendarFull {
	width: 100%;
	height: 90%;
	padding: 10px 0px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
}

#divFooter {
	background-color: white;
	text-align: center;
	padding: 5px 0px 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	color: silver;
}

.ui-button-text {
	padding: 0.1em 0.8em !important;
}

.ui-autocomplete {
    z-index: 1000 !important;
}

#divLoading {
	display: block;
	position: fixed;
	overflow: hidden;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) /*url('../img/loading.gif')*/    
        50% 50% no-repeat;
}