@CHARSET "ISO-8859-1";

body {
	background-color: #467600;
}

.CD_center {
	margin: 0px auto 0;
	width: 960px;
	height: 100%;
	position: relative;
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#CD_text1 {
	color: #fffebe;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size: 46px;
	text-shadow: #305200 0px 0px 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;
	text-align: right;
	float: right;
	text-align: right;
	margin-top: 100px;
	clear: both;
}

#CD_text2 {
	color: #fffe9e;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 32px;
	text-shadow: #1e3300 0px 0px 4px;
	text-transform: uppercase;
	letter-spacing: -2px;
	float: right;
	text-align: right;
	margin-top: 40px;
	clear: both;
}

#CD_text3 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: #305200 0px 0px 3px;
	text-transform: capitalize;
	float: right;
	text-align: right;
	clear: both;
}

#CD_text4 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
	float: right;
	text-align: left;
	vertical-align: middle;
	clear: both;
	margin-top: 100px;
	margin-right: 60px;
	margin-bottom: 160px;
	cursor: pointer;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 347px center;
}

#CD_text4:hover {
	color: #79c9ec;
	background-image: url(../img/arrow2.png);
	margin-right: 59px;
}

#CD_link_to_cal {
	padding-top: 59px;
	padding-right: 45px;
	float: right;
	height: 121px;
}

.CD_footer {
	position: relative;
	left: 40px;
	width: 880px;
	border-top: 1px solid #6a9000;
	color: #6a9000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: #305200 0px 0px 2px;
	float: none;
	clear: both;
	padding: 5px 10px;
	text-shadow: #305200 0px 0px 2px;
}

.CD_footer a {
	color: #6a9000;
	text-decoration: none;
}

.CD_footer a:hover {
	color: #c2d97c;
	text-decoration: underline;
}

.CD_soc {
	padding: 4px;
}

.CD_soc img {
	border: 0px;
}