@CHARSET "ISO-8859-1";

body {
	background-color: white;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat no-repeat;
	background-position: center 150px;
}

.CD_center {
	margin: 0px auto 0;
	width: 960px;
	height: 100%;
	position: relative;
}

.CD_shadeborder {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-icab-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.CD_topbar {
	height: 150px;
}

#CD_logo {
	padding: 21px 0px 0px 29px;
}

.CD_fs {
	width: 100%;
}

.CD_screen {
	width: 960px;
	height: 390px;
}

.CD_screen_news {
	position: absolute;
	top: 150px;
	left: 0px;
	background-image: url(../img/bg_news.jpg);
	z-index: 9;
}

.CD_screen_cal {
	position: absolute;
	top: 150px;
	left: 0px;
	background-image: url(../img/bg_cal.jpg);
	z-index: 1;
}

.CD_screen_about {
	position: absolute;
	top: 150px;
	left: 0px;
	background-image: url(../img/bg_about.jpg);
	z-index: 1;
}

.CD_sectbox {
	padding: 25px;
	color: #333;
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
	display: none;
}

.CD_sect_news {
	background-image: url(../img/bg_section.png);
	width: 320px;
	height: 300px;
	position: absolute;
	top: 40px;
	left: 0px;
	display: block;
}

.CD_sect_cal {
	background-image: url(../img/bg_section.png);
	width: 330px;
	height: 300px;
	position: absolute;
	top: 40px;
	left: 0px;
}

.CD_sect_about {
	background-image: url(../img/bg_section.png);
	width: 350px;
	height: 300px;
	position: absolute;
	top: 40px;
	left: 560px;
}

.CD_mbar {
	width: 960px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.7);
	border-top: 1px solid black;
	text-align: right;
	position: absolute;
	top: 150px;
	left: 0px;
	z-index: 10;
}

.CD_mitem {
	height: 32px;
	padding: 8px 25px 0px;
	float: right;
	color: #666;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px #fff;
	cursor: pointer;
}

.CD_mitem:hover,.CD_mselected {
	color: #333;
	background-color: #d1e4b9;
	/* 	background-color: #c2d97c; */
}