@CHARSET "ISO-8859-1";

body {
	background-color: silver;
}

.CD_center {
	margin: 0px auto 0;
	width: 960px;
	height: 100%;
	position: relative;
	background-image: url(../img/bg3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#CD_logo {
	padding: 0px 0px 0px 29px;
	float: left;
/* 	border: 1px solid red; */
}

#CD_logo_text {
	float: left;
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 26px;
	text-shadow: #999 0px 0px 3px;
	line-height: 22px;
	padding-top: 9px;
	margin-left: -7px;
/* 	border: 1px solid red; */
}

#CD_text1 {
	color: #444;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size: 52px;
	text-shadow: white 0px 0px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;
	text-align: right;
	float: right;
	text-align: right;
	margin-top: 20px;
	clear: both;
}

#CD_text2 {
	color: #555;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 32px;
	text-shadow: white 0px 0px 4px;
	text-transform: uppercase;
	letter-spacing: -2px;
	float: right;
	text-align: right;
	margin-top: 20px;
	clear: both;
}

#CD_text3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: white 0px 0px 3px;
	text-transform: capitalize;
	float: right;
	text-align: right;
	clear: both;
}

#CD_text4 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 19px;
	text-shadow: #888 0px 0px 3px;
	float: right;
	text-align: left;
	vertical-align: middle;
	clear: both;
	margin-top: 86px;
	margin-right: 36px;
	cursor: pointer;
/* 	border: 1px solid red; */
}

#CD_text4:hover {
	margin-right: 35px;
}

#CD_link_to_cal_curly {
	float: right;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-size: 192px;
	margin-top: -76px;
/* 	border: 1px solid red; */
}

#CD_link_to_cal {
	margin-top: 36px;
	float: right;
/* 	border: 1px solid red; */
}

#CD_planner {
	float: right;
	margin-left: 15px;
/* 	border: 1px solid red; */
}

#CD_text5 {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-shadow: #fff 0px 0px 4px;
	text-transform: capitalize;
	float: left;
	text-align: left;
	clear: both;
	margin-left: 326px;
	margin-bottom: 70px;
/* 	border: 1px solid red; */
}

#CD_text5 a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px dotted #666;
}

#CD_text5 a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

#CD_social {
	float: left;
/* 	border: 1px solid red; */
}

#CD_link_to_soc_curly {
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-size: 116px;
	margin-top: -42px;
/* 	border: 1px solid red; */
}

#CD_link_to_soc {
	margin-top: 38px;
	float: left;
/* 	border: 1px solid red; */
}

.CD_footer {
	position: relative;
	left: 40px;
	width: 880px;
	border-top: 1px solid #999;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: white 0px 0px 1px;
	float: none;
	clear: both;
	padding: 5px 10px;
}

.CD_footer a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px dotted #666;
}

.CD_footer a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

.CD_soc {
	padding: 4px;
}

.CD_soc img {
	border: 0px;
}