@CHARSET "ISO-8859-1";

body {
	background-color: white;
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	margin: 0;
	font-family: arial, helvetica, sans-serif;
}

h2 {
	color: #444;
}

a {
	color: #006b9d;
	text-decoration: none;
	border-bottom: 1px dashed #006b9d;
}

a:hover {
	color: #00aeff;
	border-bottom: 1px solid #00aeff;
}

p {
	font-size: 12px;
}

ul {
	padding: 4px;
}

li {
	font-size: 11px;
}

#divWrapper {
	text-align: center;
}

#divLogo {
	padding: 10px 0px 5px;
	text-align: left;
}

#divReg {
	font-size: 10px;
	text-align: right;
	padding-top: 20px;
}

#divMain {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-khtml-border-radius: 10px;
	padding: 35px 0px 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
}

#divFooter {
	border-top: 1px dashed #4ccaff;
	text-align: center;
	padding: 5px 0px 10px;
	font-size: 10px;
	color: silver;
}

#calendar {
	height: 500px;
	padding: 10px 0px;
}

#timelinesChooser {
	border: 1px solid #ddd;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-moz-box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	box-shadow: 0 0 8px rgba(150, 150, 150, 0.5);
	background-color: white;
	padding: 10px;
}